<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="mat-typography homework-header">
  <h1 class="mat-display-1">
    {{ title }}!
  </h1>
  <h2>Serve yourself</h2>
  <div>
    <mat-form-field>
      <input #org matInput placeholder="Github organisation" (keyup.enter)="listRepositories(org.value)">
    </mat-form-field>
  </div>
  <div>
    <button mat-stroked-button color="primary" (click)="listRepositories(org.value)">List repositories</button>
  </div>
</div>

<router-outlet></router-outlet>
